

.grid-block {
    aspect-ratio: 1/1;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:0;
    border:0;
    position:relative;
}
    .grid-block .bc {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position:relative;
    }
    .grid-block .sturdy div {
        background: #CC5F25;
    }
    .grid-block.top-left {border-radius: 10px 0 0 0;}
    .grid-block.top-right {border-radius: 0 10px 0 0;}
    .grid-block.bottom-left {border-radius: 0 0 0 10px;}
    .grid-block.bottom-right {border-radius: 0 0 10px 0;}
    .grid-block.water {
        background: #7EC4FD;
        cursor:pointer;
    }
    .water{
        position:relative;
    }



.grid-block .bridge {
    background: #742B03;
    width: 70%;
    height: 70%;
    border-radius: 10px;
    z-index: 0;
    border: 4px solid black;
    filter: brightness(1);
}
.bc:has(.right) .bridge {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.bc:has(.up) .bridge {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.bc:has(.left) .bridge {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.bc:has(.down) .bridge {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.bc div {
    background: #742B03;
    z-index: 1;
    aspect-ratio: 1/1;
    position: absolute;
}
    .bc .right {
        width: 50%;
        height: 70%;
        border-radius: 0;
        right:0;
        border-bottom:4px solid black;
        border-top:4px solid black;
    }
.bc .left {
    width: 50%;
    height: 70%;
    border-radius: 0;
    left: 0;
    border-bottom: 4px solid black;
    border-top: 4px solid black;
}
.bc .up {
    width: 70%;
    height: 50%;
    border-radius: 0;
    top: 0;
    border-left: 4px solid black;
    border-right: 4px solid black;
}
.bc .down {
    width: 70%;
    height: 50%;
    border-radius: 0;
    bottom: 0;
    border-left: 4px solid black;
    border-right: 4px solid black;
}

.bc:has(.right) .up, .bc:has(.right) .down {
    height: 15%;
    /*    border-right-color: transparent;
*/
}
.bc:has(.left) .up, .bc:has(.left) .down {
    height: 15%;
    /*    border-left-color: transparent;
*/
}
.bc:has(.up) .right, .bc:has(.up) .left {
    /*border-top-color: #000000;*/
    width: 15%;
}
.bc:has(.down) .right, .bc:has(.down) .left {
    width: 15%;
    /*    border-bottom-color: transparent;
*/
}
.water.top {
    border-top: 4px solid black;
}
.water.bottom {
    border-bottom: 4px solid black;
}
.water.right {
    border-right: 4px solid black;
}
.water.left {
    border-left: 4px solid black;
}
/*.water:nth-of-type(2n+1)::before {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    position:absolute;
    background: rgba(0, 0, 0, 0.025);
}
.map > div:nth-of-type(2n+1) .water::after {
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top:0;
    position: absolute;
    background: rgba(0, 0, 0, 0.025);
}*/

.grid-block.blank{
    background:blue;
}
.grid-block.header{
    border-color:transparent;
    font-weight:bold;
}
.grid-block.header.faded{
    opacity:0;
}
.map {
    margin: 10px;
}
.bridges-game .message{
    color:black;
    padding:10px 0;
}

.size-11 {
    font-size: 12px;
}
.size-10 {
    font-size: 12px;
}
.size-9 {font-size: 14px;}
.size-8 {font-size: 14px;}
.size-7 {font-size: 16px;}
.size-6 {font-size: 16px;}
.size-5 {font-size: 16px;}